#authToken {
    width: 400px;
    max-width: 400px;
    overflow-wrap: break-word;
  
    button {
      margin-right: 10px;
    }
  
    pre {
      width: 400px;
      max-width: 400px;
      overflow-wrap: break-word;
      white-space: pre-wrap; /* Since CSS 2.1 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word;
    }
  }
  