<!-- Header -->
<header class="C-header">
  <!-- Branding/Logo -->
  <a
    class="_branding d-inline-block font-weight-semibold text-white cursor-pointer"
    routerLink="/"
  >
    <div class="_logo _link"></div>
    <span>My Manager Dashboard</span>
  </a>
  <!--/. Branding/Logo -->
  <!-- User Skill Level -->
  <div class="_user d-inline-block bg-white text-center font-weight-semibold">
    <span>{{ userInitials }}</span>
  </div>
  <!--/. User Skill Level -->

  <!-- Note: Preserving below just in case, but wireframes don't involve any next button here -->
  <!--<ul class="navbar-nav mr-auto"></ul>-->
  <!--<div class="d-inline-block float-right mr-3">
    <h2o-digital-authenticated-menu *ngIf="(isAuthenticated | async)"></h2o-digital-authenticated-menu>
  </div>-->
</header>
<!--/. Header -->
