// COLORS
$black-blue: #0c2b4c;
$dark-blue: #264e78;
$brand-blue: #385988;
$light-brand-blue: #4c78a7;
$frost-blue: #638fc0;
$light-blue: #88b3e4;
$sky-blue: #e4eff9;
$accent-blue: #00a3e0;

$success: #84bd00;
$success-dark: #77a805;
$dark-green: #4c6c00;
$light-green: #e4eecb;

$yellow: #f7a800;
$red: #cb2500;

// GRAYS
$white: #ffffff;
$gray-100: #fafafa;
$gray-200: #eeeeee;
$gray-300: #dadada;
$gray-400: #c5c8cb;
$gray-500: #a4abb4;
$gray-600: #848b93;
$gray-700: #70757c;
$gray-800: #4d535a;
$gray-900: #030303;
$black: #000000;

// SPACING
$header-height: 58px;

// TYPOGRAPHY
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Fira Sans", sans-serif;

$fa-font-path: "/assets/fonts";
